<div class="container">
<div>
  @if(Discount !== "No Discount") {
    <h3>We offer an explicit discount of: {{ Discount }}</h3>

  }
  <h3>Client Name: {{ ClientName }}</h3>
</div>
@if(isPurchased) {
  <div>
    <img src = "assets/img1.jpg" style="height: 20px; width: 100%;"/>
  </div>
}

<select [(ngModel)]="listFilterdValue" >
  @for(product of filteredProduct; track product.ID){
    <option [value]="product.CategoryID">{{ product.CategoryID }}</option>
  }
</select>


<div class="row " >
  @for(product of filteredProduct; track product.ID){
  <div class="col-sm-5 my-4 mx-4" appProductcard style="border: 2px solid red;"  >
    <img [src]="product.Img" style="height: 300px" />
    <h4>Product ID: {{ product.ID }}</h4>
    <b>Product Name: {{ product.Name }}</b>
    @switch (product.Quantity) {
      @case (1) {
        <p>Last one item!</p>
      }
      @case (2) {
        <p>Last two items!</p>
      } @case (0) {
        <p>Out of stock!</p>
      } @default {
        <p [style.color]="product.Quantity > 1 ? 'yellow' : ''">Product Quantity: {{ product.Quantity }}</p>
      }
    }
    <p>Product Price:  {{ product.Price | currency: 'USD' : 'symbol' }}</p>

    <button class="btn btn-success"  (click)="buyProduct(product)" (click)="addToCart(product)" [disabled]="product.Quantity == 0">Buy</button>
  </div>
  }
  <!-- some-component.component.html -->

</div>
<p>Formatted Credit Card Number: {{ "0000000000000000" | creditcard   }}</p>
</div>
