body {
  background-color: #e6d9cc;
}
h1 {
  text-align: center;
}
.PageContent {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
img {
  width: 300px;
  height: auto;
  border-radius: 30px;
}
.logos{
  width: 40px;
}
.contactMe {
  display: inline-block;
  align-items: center;
}
.videoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 20px;
}