body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#skills-list {
  list-style-type: none;
  padding: 0;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  border-bottom: 1px solid #ddd;
}

#add-skill-container {
  margin-top: 20px;
}

#skill-input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px;
  cursor: pointer;
}

.skill-item {
  display: inline-block;
  background-color: lightgray;
  color: black;
  border-radius: 5px;

  margin: 0px 8px;
}

.skill-item span {
  margin-right: 8px;
}

.skill-item button {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
